
.research {
	display: none;
}




@media #{$tablet-width} {

	.research {
		display: block;
		padding: 60px 0px;
	}

	.research__wrap {
		@include wrap-teblet;
	}

	.research-info {
		position: relative;
		padding-left: 48%;
	    min-height: 280px;
	    box-sizing: border-box;
        padding-top: 1px;


			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 240px;
				height: 275px;
				background: url(../image/research/timer.png) no-repeat center;
				background-size: contain;

			}
	}

	.research-info__title {
		margin: 0;
	    margin-top: 40px;
	    margin-bottom: 15px;
		font-size: 30px;
		line-height: 36px;
		font-family: "OpenSansBold";
		color: #000;
	}


	.research-info__desc {
		margin: 0;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 24px;
		font-family: "OpenSansRegular";
		color: $text-color;
	}


	.research-info__link {
		display: inline-block;
		margin-top: 15px;
		font-size: 14px;
		line-height: 24px;
		font-family: "OpenSansRegular";
		color: $pink-color;
		text-decoration: underline;

			&:hover {
				text-decoration: none;
				color: $text-color;
			}

			&:active {
				opacity: .7;
			}
	}


}


@media #{$desc-width} {

	.research {
		padding: 0px;
		padding-bottom: 60px;
		background-color: #f2f2f2;
	}

	.research__wrap {
		@include wrap-desc;
	}

	.research-info {
		position: relative;
		padding-left: 39.3%;
		padding-right: 45px;
	    min-height: 348px;

			&::before {
				width: 300px;
				height: 348px;
				background-image: url(../image/research/timer-desctop.png);
			}

    }


	.research-info__title {

	    margin-top: 90px;
		line-height: 30px;
	}


	.research-info__desc {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 30px;
	}


	.research-info__link {
		margin-top: 30px;
		font-size: 18px;
		line-height: 30px;
	}



}