img {
	max-width: 100%;
	height: auto;
}


@font-face {
		font-family: "OpenSansRegular";
		src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
		src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
		url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "OpenSansLight";
		src: url("../fonts/OpenSansLight/OpenSansLight.eot");
		src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
		url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "OpenSansBold";
		src: url("../fonts/OpenSansBold/OpenSansBold.eot");
		src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
		url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}



body {
	font-size: 14px;
	font-family: "OpenSansRegular", Arial, sans-serif;
	color: $text-color;
	font-style: normal;
	overflow-x: hidden;
}



.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}